# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# user IDE auto-files
.idea/


# Sectrets & Keys
.env


.gradle
.DS_Store
.settings
.classpath
.project

*.class

.settings/
bin/
build/
.vscode/settings.json

.sts4-cache/
